<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="register.css">
		<title>Page Title</title>
	</head>
	<body>

		<div class="topbar">
		  <div class="w3-bar w3-teal">
		   <a href="/register.html" class="w3-bar-item w3-button">Registrar</a>
		   <a href="/login.html" class="w3-bar-item w3-button">Login</a>
		   <a href="/question.html" class="w3-bar-item w3-button">Criar Tópico</a>
		   <a href="/search.html" class="w3-bar-item w3-button">Buscar Tópicos</a>

				<div class="w3-dropdown-hover">
					<button class="w3-button w3-black">Opções</button>
					<div class="w3-dropdown-content w3-bar-block w3-border">
						<a href="/pending_questions.html" class="w3-bar-item w3-button moderator">Perguntas Pendentes</a>
						<a href="/viewUsers.html" class="w3-bar-item w3-button moderator">Visualizar Usuários</a>
						<a href="#" onclick="quit();" class="w3-bar-item w3-button">Sair</a>
					</div>
				</div>
		  </div>
		</div>

		<div class="w3-card-4 centerbox">
		  <div class="w3-container w3-teal">
		    <h2>Registro</h2>
		  </div>
		  <form class="w3-container">
				<p>
				<label class="w3-text-black"><b>Nome</b></label>
				<input class="w3-input w3-border" id="name" type="text"></p>
		    <p>
		    <label class="w3-text-black"><b>Usuário</b></label>
		    <input class="w3-input w3-border" id="username" type="text"></p>
		    <p>
		    <label class="w3-text-black"><b>Senha</b></label>
		    <input class="w3-input w3-border" type="password" autocomplete="off" id="password" type="text"></p>
			Paciente <input type="radio" id="paciente" checked="checked" name = "tipo" onclick='removeSpeciality()'> <span class="checkmark"></span>
			Medico <input type="radio" id="medico" name = "tipo" onclick='addSpeciality()'> <span class="checkmark"></span>
			<p id="specialityBlock">
		    <label class="w3-text-black"><b>Especialidade</b></label>
		    <input class="w3-input w3-border" id="speciality" type="text"></p>
		    <p>
		    <button class="w3-btn w3-teal" id='submit'>Registrar</button></p>
		  </form>
		</div>

		<script src='register.js'></script>

	</body>

</html>
