<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="topic.css">
		<title>Tópico</title>
	</head>
	<body>

		<div class="topbar">
		  <div class="w3-bar w3-teal">
		   <a href="/register.html" class="w3-bar-item w3-button">Registrar</a>
		   <a href="/login.html" class="w3-bar-item w3-button">Login</a>
		   <a href="/question.html" class="w3-bar-item w3-button">Criar Tópico</a>
		   <a href="/search.html" class="w3-bar-item w3-button">Buscar Tópicos</a>

			 <input class="w3-input w3-border w3-animate-input search" type="text" style="width:150px" placeholder="Buscar tópicos">

				<div class="w3-dropdown-hover">
					<button class="w3-button w3-black">Login</button>
					<div class="w3-dropdown-content w3-bar-block w3-border">
						<a href="/pending_questions.html" class="w3-bar-item w3-button moderator">Perguntas Pendentes</a>
						<a href="/viewUsers.html" class="w3-bar-item w3-button moderator">Visualizar Usuários</a>
						<a href="#" onclick="quit();" class="w3-bar-item w3-button">Sair</a>
					</div>
				</div>
		  </div>
		</div>

				<div id="page">
						<div id="topic">
							<div id="innerTopic" class="w3-card-4">
								<header class="w3-container w3-teal">
									<h1 id="title"></h1>
								</header>
									<div id="paddingTopic">
										<div id="question">
										</div>
									</div>
							</div>
						</div>






						<div class="w3-card-4" id="wrapperComment">
								<header class="w3-container w3-teal">
									<h1 id="title">Resposta</h1>
								</header>

								<div id="comment">
									<textarea rows='4' cols='50' id='resposta'></textarea>
									<button class="w3-button w3-teal" id='submit' onclick='ans()'>Enviar Resposta</button>
									<button class="w3-button w3-teal" id='sair' onclick='quit()'>Sair da conta</button>
									<h6 id='error'></h6>
								</div>
						</div>

				</div>

	</body>
<script src="topic.js"></script>
</html>
