<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="topic.css">
		<title>Tópico</title>
	</head>
	<body>

				<div id="page">
						<div id="topic">
							<div class="w3-card-4">
								<header class="w3-container w3-teal">
									<h1 id="title"></h1>
								</header>

								<div id="question">
								</div>
							</div>
						</div>






						<div class="w3-card-4">
								<header class="w3-container w3-teal">
									<h1 id="title">Resposta</h1>
								</header>

								<div id="comment">
									<textarea rows='4' cols='50' id='resposta'></textarea>
									<button class="w3-button w3-teal" id='submit' onclick='ans()'>Enviar Resposta</button>
									<button class="w3-button w3-teal" id='sair' onclick='quit()'>Sair da conta</button>
									<h6 id='error'></h6>
								</div>
						</div>

				</div>

	</body>
<script src="topic.js"></script>
</html>
