<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="test.css">
		<title>Page Title</title>
	</head>
	<body>

		<div id="page">
				<div class="w3-display-topmiddle" id="topic">
						<div id="question">
								<p><span id="title"></span></p>
						</div>
				</div>
		</div>
		
		<button id='submit'>Fazer Pergunta</button>

	</body>
<script src="test.js"></script>
</html>
