<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="search.css">
		<title>Page Title</title>
	</head>
	<body>

		<div class="topbar">
		  <div class="w3-bar w3-black">
		   <a href="/register.html" class="w3-bar-item w3-button">Registrar</a>
		   <a href="/login.html" class="w3-bar-item w3-button">Login</a>
		   <a href="/question.html" class="w3-bar-item w3-button">Criar Tópico</a>
		   <a href="/search.html" class="w3-bar-item w3-button">Buscar Tópicos</a>
		  </div>
		</div>

		<div id="listTopic">
	  </div>

	</body>
	<script src='search.js'></script>

</html>
