.topbar {
  display: flex;
  background-color: #009688;
  padding: 8px;
}

.inline {
  display: inline;
}

.search {
  margin-left: 14px;
  display: inline;
}

.topic {
margin-top: 16px;
}

#listTopic {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.msg {
  padding: 16px;
  border-left: 6px solid red;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #eff1f3;
}
