.topbar {
  display: flex;
  background-color: #009688;
  padding: 8px;
}

.inline {
  display: inline;
}

.search {
  margin-left: 14px;
  display: inline;
  max-width: 600px;
}
.centerbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
}

.bigButton {
  width: 500px;
}

body {
  background: url("http://www.kiclinic.pt/img/content/Home-1/banner-home.png");
}

.w3-animate-input:focus{width:400px!important}

.moderator {
 display: none !important;
}
