<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="login.css">
		<title>Page Title</title>
	</head>
	<body>

		<div class="topbar">
		  <div class="w3-bar w3-teal">
		   <a href="/register.html" class="w3-bar-item w3-button">Registrar</a>
		   <a href="/login.html" class="w3-bar-item w3-button">Login</a>
		   <a href="/question.html" class="w3-bar-item w3-button">Criar Tópico</a>
		   <a href="/search.html" class="w3-bar-item w3-button">Buscar Tópicos</a>

			 <input class="w3-input w3-border w3-animate-input search" type="text" style="width:150px" placeholder="Buscar tópicos">

				<div class="w3-dropdown-hover">
					<button class="w3-button w3-black">Login</button>
					<div class="w3-dropdown-content w3-bar-block w3-border">
						<a href="/pending_questions.html" class="w3-bar-item w3-button moderator">Perguntas Pendentes</a>
						<a href="/viewUsers.html" class="w3-bar-item w3-button moderator">Visualizar Usuários</a>
						<a href="#" onclick="quit();" class="w3-bar-item w3-button">Sair</a>
					</div>
				</div>
		  </div>
		</div>

		<div class="centerbox w3-card-4">
		<div>
		  <div class="w3-container w3-teal">
		    <h2>Login</h2>
		  </div>
		  <form class="w3-container">
		    <p>
		    <label class="w3-text-black"><b>Usuário</b></label>
		    <input class="w3-input w3-border" id="username" type="text"></p>
		    <p>
		    <label class="w3-text-black"><b>Senha</b></label>
		    <input class="w3-input w3-border" type="password" autocomplete="off" id="password" type="text"></p>
		    <p>
		    <button class="w3-btn w3-teal" id='submit'>Entrar</button></p>
		  </form>
		</div>

		<button class="w3-btn w3-teal bigButton" id='submit'><h4>Cadastre-se</h4></button>
	</div>

		<script src='login.js'></script>

	</body>

</html>
