<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="login.css">
		<title>Page Title</title>
	</head>
	<body>

		<div class="topbar">
			<div class="logo">
				<img src="login.png" alt="">
			</div>

			<div class="w3-bar w3-black">
			 <a href="#" class="w3-bar-item w3-button">London</a>
			 <a href="#" class="w3-bar-item w3-button">Paris</a>
			 <a href="#" class="w3-bar-item w3-button">Tokyo</a>
			</div>

		</div>

		<div class="w3-card-4">
		  <div class="w3-container w3-teal">
		    <h2>Login</h2>
		  </div>
		  <form class="w3-container">
		    <p>
		    <label class="w3-text-black"><b>Usuário</b></label>
		    <input class="w3-input w3-border" name="first" type="text"></p>
		    <p>
		    <label class="w3-text-black"><b>Senha</b></label>
		    <input class="w3-input w3-border" name="last" type="text"></p>
		    <p>
		    <button class="w3-btn w3-teal" id='submit'>Entrar</button></p>
		  </form>
		</div>
	
		<script src='login.js'></script>

	</body>

</html>
