.topbar {
  display: flex;
  background-color: #009688;
  padding: 8px;
}

.inline {
  display: inline;
}

.search {
  margin-left: 14px;
  display: inline;
  max-width: 600px;
}

.topic {
margin-bottom: 16px;
}
